# MySQL slave
[mysqld]

port = 3307
socket = /var/lib/mysql-slave-default/mysql.sock
pid-file        = /var/run/mysql-slave-default/mysqld.pid
basedir         = /usr
datadir         = /var/lib/mysql-slave-default
tmpdir          = /tmp/mysql-slave-default
#binlog-format     = row
log-bin-trust-function-creators = ON
log-slave-updates = OFF
server-id = 2
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address    = 127.0.0.1
relay-log = mysqld-relay-bin
sql_mode=''
