; Function definitions to exclude
exclude-def-pattern[] = '/^__construct$/'
exclude-def-pattern[] = '/^__toString$/'
exclude-def-pattern[] = '/^addTable$/'
exclude-def-pattern[] = '/^addField$/'
exclude-def-pattern[] = '/^addGroup$/'
exclude-def-pattern[] = '/^addOrder$/'
exclude-def-pattern[] = '/^addOrderBy$/'
exclude-def-pattern[] = '/^addOrderByAndSetSortInfo$/'
exclude-def-pattern[] = '/^addGroupBy$/'
exclude-def-pattern[] = '/^addLeftJoin$/'
exclude-def-pattern[] = '/^will$/'

; Functions called from these files will be excluded
exclude-ref-pattern[] = '/^open_xdmod\/modules\/xdmod\/.*tests/'
exclude-ref-pattern[] = '/\.js$/'
